.project {
  position: relative; /* Add position relative for absolute positioning */

  width: 95vw;
  max-width: 850px;
  max-height: fit-content;
  margin: 2em auto;
  border-radius: 25px;
  background: var(--clr-bg);
  box-shadow: var(--shadow);
  text-align: center;
  transition: transform 0.2s linear;
}

.project:hover {
  transform: translateY(-7px);
}

.project .title-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
}
/* Apply overlay hover effect only for small screens */
@media screen and (max-width: 767px) {
  .project:hover .title-overlay {
    opacity: 1;
  }

  .project:hover .img img {
    filter: blur(5px);
  }
}

.inner-part {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}

.inner-part .img {
  height: 260px;
  width: 260px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 3px 15px var(--shadow);
  position: relative; /* Add position relative for absolute positioning */
}

.img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.6s;
}

.content .interact {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  max-height: 100px;
}

.content span {
  display: block;
  color: var(--clr-fg);
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.content .title {
  font-size: 30px;
  font-weight: 700;
  color: var(--clr-fg);
  margin-bottom: 10px;
}

.content .text {
  color: var(--clr-fg);
  font-size: 19px;
  margin-bottom: 10px;
  line-height: 1.5em;
  text-align: justify;
}

.content {
  display: none; /* Hide content by default */
}

@media screen and (min-width: 768px) {
  .content {
    display: block; /* Display content for larger screens */
    padding: 0 20px 0 35px;
    width: 530px;
    max-height: 300px;
    margin-left: 50px;
    margin: 1em auto;
    opacity: 1;
    transition: 0.6s;
    
  }
}
