.project {
  position: relative;
  height: auto;
  width: 100%; /* Make sure the project takes up full width of the container */
  max-width: 900px;
  margin: 2em auto;
  border-radius: 25px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);

  text-align: center;
  transition: transform 0.2s linear;
}

.project:hover {
  transform: translateY(-7px);
}

.project .title-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

@media screen and (max-width: 767px) {
  .project:hover .title-overlay {
    opacity: 1;
  }

  .project:hover .img img {
    filter: blur(5px);
  }

  .inner-part {
    flex-direction: column;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
    margin: 1em auto 0 auto;
  }

  .content .interact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin: 0;
  }

  .inner-part .img {
    margin-bottom: 10px;
  }

  .content .title {
    display: none;
  }

  .content .text {
    display: none;
  }
}

.inner-part {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}

.inner-part .img {
  height: 260px;
  width: 260px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 3px 15px var(--shadow);
  position: relative;
}

.img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.6s;
}

.content .interact {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  max-height: 100px;
}

.content span {
  display: block;
  color: var(--clr-fg);
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.content .title {
  font-size: 30px;
  font-weight: 700;
  color: var(--clr-fg);
  margin-bottom: 10px;
}

.content .text {
  color: var(--clr-fg);
  font-size: 19px;
  margin-bottom: 10px;
  line-height: 1.5em;
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .content {
    display: block;
    padding: 0 20px 0 35px;
    width: 100%; /* Ensure content takes full width */
    max-width: 530px; /* Constrain the width */
    max-height: 300px;
    margin-left: 50px;
    margin: 1em auto;
    opacity: 1;
    transition: 0.6s;
  }
}

.card__title_link {
  color: var(--clr-fg);
}

.card__title_link:hover {
  color: var(--clr-fg-alt);
}
