.certification__card {
  width: auto; /* Adjust the width as needed */
  height: 250px; /* Adjust the height as needed */
  border-radius: 10px;
  box-shadow: var(--shadow);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: transform 0.2s linear;
}

.certification__card > div {
  width: 100%;
  height: 100%;
}

.certification__card img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}

.date {
    color: var(--clr-fg-alt);
   margin: 0;
    text-align: center;
  }
  

  .text{
    display: flex;
    color: var(--clr-fg-alt);
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
  }

  
  .certification__card:hover {
    transform: translateY(-7px);
    
  }

  @media screen and (max-width: 767px) {
  
    .certification__card {
      max-width: fit-content;
    }
  }