.notion__full_page{
    height: 100vh;
    width: 100%;
}


.notion__page{
    color: var(--clr-fg);
    background-color: var(--clr-bg);
}

.notion-header{
    display: none;

}

.notion-collection-page-properties{
    display: none;
}
.notion-aside-table-of-contents{
    background-color: var(--clr-bg-alt);
}

.notion-aside-table-of-contents-header{
   color: var(--clr-fg);
}

.notion-table-of-contents-item-body{
    color: var(--clr-fg-alt);
}
.notion-equation-block{
    align-items: center;
}


.footer-contact-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
  }
  
  .footer-contact-container .footer {
    width: 100%; 
    height: auto;
    padding-top: 2px;
    margin-top: 0;
    max-height: none; 
    background-color: var(--clr-bg);
  }
  
  .footer-contact-container .contact {
    width: 100%;
    height: auto;
    padding-top: 2px;
    margin-top: 0;
    max-height: none; 
    background-color: var(--clr-bg);
  }
  